{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre inscription{% endblock %}

{% block body %}
<div class="mt-5 container pt-3 bg-light card">
    <div class="card-body">
        <h1 class="h4 card-subtitle text-center">Validation de votre inscription au tournoi {{tournament.name}}</h1>
        <p class="mt-5 text-center">Vous confirmez être <strong>{{player.firstname}} {{player.lastname}}</strong>, et vouloir vous inscrire aux tableaux suivants: </p>
        {% if payment == 'arrival' %}
            <ul>
                {% for board in paid_boards %}
                    <li>Tableau {{ board.name }}, inscription à {{ board.price }}€ <span style="font-style: italic;">(déjà inscrit et déjà réglé)</span></li>
                {% endfor %}
                {% for board in to_pay %}
                    <li>Tableau {{ board.name }}, inscription à {{ board.price }}€</li>
                {% endfor %}
                {% set total = 0 %}
                {% for board in to_pay %}
                    {% set total = total + board.price %}
                {% endfor %}
                <hr>
                <strong>Total à régler: {{total}}€</strong>
            </ul>

            <form method="POST" action="/validation/">
                <input type="hidden" name="to_pay_boards" value="{{ ids }}" />
                <input type="hidden" name="player_id" value="{{ player.id }}" />
                <input type="submit" name="valider" value="Oui, je valide mon inscription" class="btn btn-success text-center" style="margin: 0 auto; display: block;"/>
            </form>


        {% else %}
            <ul>
                {% for board in paid_boards %}
                    <li>Tableau {{ board.name }}, inscription à {{ board.price - reduction }}€ <span style="font-style: italic;">(inscription déjà réalisée)</span></li>
                {% endfor %}
                {% for board in to_pay %}
                    <li>Tableau {{ board.name }}, inscription à {{ board.price - reduction }}€</li>
                {% endfor %}
                {% set total = 0 %}
                {% for board in to_pay %}
                    {% set total = total + board.price - reduction %}
                {% endfor %}
                <hr>
                <strong>Total à payer : {{total}}€</strong>
            </ul>


            {% if total > 0 %}

                <form action="/checkout" method="POST">
                    <input type="hidden" name="to_pay_boards" value="{{ ids }}" />
                    <input type="hidden" name="player_id" value="{{ player.id }}" />
                    <button type="submit" class="btn btn-success text-center" style="margin: 0 auto; display: block;">Oui, je valide mon inscription et je souhaite régler en ligne</button>
                </form>

            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}