

{{ form_row(form._token) }}

{{ form_widget(form.name, { 'attr': {'class': 'form-control mb-3', 'placeholder': 'Nom du tournoi' } }) }}
{{ form_errors(form.name) }}

{{ form_widget(form.description, { 'attr': {'class': 'form-control mb-3', 'placeholder': 'Description (adresse, dates...) & règles', 'rows': '15' } }) }}
{{ form_errors(form.description) }}

{{ form_widget(form.admin_email, { 'attr': {'class': 'form-control mb-5', 'placeholder': 'Adresse email de contact (utilisée pour le formulaire de contact)'} }) }}
{{ form_errors(form.admin_email) }}

<button class="btn btn-primary float-start"><i class="fas fa-save mr-2"></i>Enregistrer</button>


