{% extends 'base.html.twig' %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block body %}

<div class="mt-5 mr-5 ml-5 pt-2 pb-5 bg-light card">
    <h1 class="h3 ml-3 mt-2 mb-5"><i class="fas fa-tools mr-3"></i>{{ tournament.name }}  <a class="btn btn-danger btn-md float-right mr-3" href="{{ path('tournament_index') }}"><i class="fas fa-chevron-left mr-2"></i>Voir mes tournois</a></h1>

    <div class="row pl-5 pr-5">

        <!--START ## Édition du tournoi-->
        <div class="col-3">
            <a href="{{ path('tournament_edit', {'id': tournament.id}) }}" class="btn tournament-menu-item">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Éditer</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center"><i class="far fa-edit"></i></h2>
                        <ul class="list-unstyled mt-2 mb-2">
                            <li class="font-italic">Permet d'éditer le nom du tournoi</li>
                            <li class="font-italic">Permet d'éditer la description du tournoi</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <!--END ## Édition du tournoi-->

        <!--START ## Suppression du tournoi-->
        <div class="col-3">
            {{ include('tournament/_delete_form.html.twig') }}
        </div>
        <!--END ## Suppression du tournoi-->

        <!--START ## Tableaux-->
        <div class="col-3">
            <a href="{{ path('tournament_boards', {'id': tournament.id}) }}" class="btn tournament-menu-item">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Tableaux</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center"><i class="fas fa-chalkboard-teacher"></i></h2>
                        <ul class="list-unstyled mt-2 mb-2">
                            <li class="font-italic">Permet de gérer les tableaux du tournoi</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <!--END ## Tableaux-->

        <!--START ## Inscription-->
        <div class="col-3">
            <a href="{{ path('tournament_form', {'tournament_id': tournament.id}) }}" class="btn tournament-menu-item">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Inscription</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center"><i class="fas fa-clipboard-list"></i></h2>
                        <ul class="list-unstyled mt-2 mb-2">
                            <li class="font-italic">Permet d'ouvrir les inscriptions</li>
                            <li class="font-italic">Permet de récupérer l'URL d'inscription</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <!--END ## Inscription-->

        <!--START ## Joueurs-->
        <div class="col-3 mt-4">
            <a href="{{ path('player_index', {'tournament_id': tournament.id}) }}" class="btn tournament-menu-item">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Joueurs</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center"><i class="fas fa-users"></i></h2>
                        <ul class="list-unstyled mt-2 mb-2">
                            <li class="font-italic">Permet de gérer les joueurs</li>
                            <li class="font-italic">Affiche les statuts et les infos</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <!--END ## Joueurs-->

        <!--START ## Matchs-->
        <div class="col-3 mt-4">
            <a href="{{ path('contests_index', {'tournament_id': tournament.id}) }}" class="btn tournament-menu-item">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Matchs</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center"><i class="fas fa-table-tennis"></i></h2>
                        <ul class="list-unstyled mt-2 mb-2">
                            <li class="font-italic">Permet de gérer les matchs</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <!--END ## Matchs-->

    </div>




</div>
{% endblock %}
